<h1>Books</h1>

<% @books.each do |book| %>

  <p>Title</p>
  <span>
    <%= book.title %>
  </span>

  <p>Body</p>
  <span>
    <%= book.body %>
  </span>

  <span>
    <%= link_to "Show", '/book/:id' %>
  </span>

  <span>
    <%= link_to "Edit", 'book/:id/edit' %>
  </span>

  <span>
    <%= link_to "Destroy", 'book/:id', method: :delete, "data-confirm" => "本当に削除しますか？" %>
  </span>

<% end %>